<header>
    <div data-pagetype="index_index" class="header">
        <div class="container">
            <div class="lay-logo">
                <span class="bg"><a kdref="366" title="卡当网" class="logo-link" target="_self" href="http://www.kadang.com/?ref_wbt=3.2-2.3.366.0&amp;ref_refer=%2F" wbury="1">卡当网</a></span>
                <!--<a href="http://love.kadang.com/zt/qixi.html" target="_self" class="logo-link" title="七夕"  kdref="365"><img src="http://www.kadang.com/static/mall/index/logo-right.gif" alt="七夕" style="margin-top: -20px"></a>-->
            </div>
            <div kdref="1031" class="lay-intro clearfix">
                <div id="J_IntroMenu" class="intro-menu">
                    <ul class="clearfix">
                        <li class="mod-menu">
                            <a title="我的卡当" target="_top" class="vm-hd islog" href="/index.php?ref_wbt=3.2-2.3.1031.0&amp;ref_refer=%2F&amp;act=member_snsindex" wbury="1">我的卡当<i class="intro-icons icons-down trans rotate"></i><!--<em class="tipNum">2</em>--></a>
                            <div style="left: 0px; display: none;" class="vm-bd dropdown my-own">
                                <ul>
                                    <li><a title="我的订单" target="_top" class="islog" href="/index.php?ref_wbt=3.2-2.3.1031.1&amp;ref_refer=%2F&amp;act=member&amp;op=order" wbury="1">我的订单</a></li>
                                    <!--<li><i class="tipD"></i><a href="/index.php?act=member&amp;op=order" class="islog" target="_top">我的物流</a></li>-->
                                    <li><a title="我的优惠券" target="_top" class="islog" href="/index.php?ref_wbt=3.2-2.3.1031.2&amp;ref_refer=%2F&amp;act=member_coupon&amp;op=list" wbury="1">我的优惠券</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mod-menu">
                            <a title="购物车" target="_top" class="vm-hd" href="/index.php?ref_wbt=3.2-2.3.1031.3&amp;ref_refer=%2F&amp;act=cart" wbury="1"> <i class="intro-icons icons-cart"></i>购物车<!-- <em>0</em>件 --><i class="intro-icons icons-down trans rotate"></i></a>
                            <div id="J_MiniCart" class="vm-bd dropdown mini-cart"><p class="vm-empty">您的购物车中暂无商品，赶快选择心爱的商品吧！</p>
                            </div>
                        </li>
                        <li class="mod-menu">
                            <a title="手机版" target="_blank" style=" border:0;" class="vm-hd" href="http://www.kadang.com/zt/ToMobile.html?ref_wbt=3.2-2.3.1031.4&amp;ref_refer=%2F" wbury="1"><i class="mobile_icon"></i>手机版
                            </a>
                            <div class="vm-bd dropdown my-phone" style="display: none;">
                                <img src="http://img1.i.kadang.cn/static/mall/index/img-code.jpg">
                            </div>

                        </li>
                        <li class="mod-menu">
                            <a title="我的收藏" target="_top" class="vm-hd islog" href="/index.php?ref_wbt=3.2-2.3.1031.5&amp;ref_refer=%2F&amp;act=member_favorites&amp;op=fglist" wbury="1">我的收藏<i class="intro-icons icons-down trans rotate"></i></a>
                            <div class="vm-bd dropdown my-collect" style="display: none;">
                                <ul>
                                    <li>
                                        <a target="_top" class="islog" href="/index.php?ref_wbt=3.2-2.3.1031.6&amp;ref_refer=%2F&amp;act=member_favorites&amp;op=fglist" wbury="1">收藏的商品</a>
                                    </li>
                                    <li>
                                        <a target="_top" class="islog" href="/index.php?ref_wbt=3.2-2.3.1031.7&amp;ref_refer=%2F&amp;act=member_favorites&amp;op=fslist" wbury="1">收藏的店铺</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!---<li class="mod-menu"><a href="http://kadangwj.tmall.com/shop/view_shop.htm" target="_blank">天猫店</a></li>-->
                        <li class="mod-menu"><span title="在线客服" onclick="NTKF.im_openInPageChat('kd_1000_9999');" class="qqkefu">在线客服</span></li>
                        <li class="mod-menu"><a id="collKd" title="收藏卡当网" href="javascript:void(0)">收藏卡当网</a></li>
                    </ul>
                </div>
                <div id="J_Welcome" class="intro-login">
                    Hi，欢迎来到卡当网
                    <a title="登录" id="J_UserLogin" href="javascript:;">登录</a>
                    <a title="注册" id="J_UserReg" href="javascript:;">注册</a>
                </div>
            </div>
            <div class="kd-detail">
                <img src="http://img1.i.kadang.cn/static/mall/index/kdDes.png" class="fr kdDes">
                <div class="header-mid fr">
                    <div kdref="1048" class="lay-search">
                        <!--<input type="hidden" id="search_act" name="act" value="search">-->
                        <input type="hidden" value="log_search_word" name="log_search_word" id="log_search_word">
                        <input type="text" data-search-des="" data-keyword="" placeholder="七夕情人节送女朋友什么？" maxlength="60" name="keyword" value="" id="keyword" class="textinput">
                        <input type="submit" id="keywordBtn" class="search-button" value="搜索">
                    </div>
                    <div kdref="1365" class="search-tab">
                        <a title="送女朋友" href="http://www.kadang.com/tag/296.html?ref_wbt=3.2-2.3.1365.0&amp;ref_refer=%2F" target="_blank" style="color:#646464" wbury="1">送女朋友</a>
                        <a title="浪漫表白" href="http://www.kadang.com/tag/199.html?ref_wbt=3.2-2.3.1365.1&amp;ref_refer=%2F" target="_blank" style="color:#666666" wbury="1">浪漫表白</a>
                        <a title="我的订单查询" href="http://www.kadang.com/index.php?ref_wbt=3.2-2.3.1365.2&amp;ref_refer=%2F&amp;act=member&amp;op=order" target="_blank" style="color:#646464" wbury="1">我的订单查询</a>
                    </div>
                </div>
                <a target="_blank" href="http://www.kadang.com/zt/qxloveyou.html?ref_wbt=3.2-2.3.365.0&amp;ref_refer=%2F" class="topic" kdref="365" wbury="1"><img height="70" width="167" alt="七夕氛围" src="http://img2.i.kadang.cn/upload/1/adv/8a97735415b0e0e79a8e715c11cf7f9d.gif"></a>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="container clearfix">
            <!--按兴趣类目选礼物代码隐藏-->
            <div class="nav-menu" id="J_NavMenu">
                <ul kdref="1029" class="clearfix menu-list menu-ul">
                    <li style="display:none"><a title="首页" href="http://www.kadang.com/?ref_wbt=3.2-2.3.1029.0&amp;ref_refer=%2F" wbury="1">首页</a></li>
                    <li class="submenu index">
                        <a title="顺丰包邮 当天发货" target="_blank" href="http://www.kadang.com/tag/573.html?ref_wbt=3.2-2.3.1029.1&amp;ref_refer=%2F" class="item fl" wbury="1">
                            顺丰包邮 当天发货                      <img class="navHot" src="http://img1.i.kadang.cn/static/mall/common/navHot.gif">
                        </a>
                    </li>
                    <li class="submenu index">
                        <a title="送女生" target="_blank" href="http://www.kadang.com/zt/girl.html?ref_wbt=3.2-2.3.1029.2&amp;ref_refer=%2F" class="item fl" wbury="1">
                            送女生              </a>
                    </li>
                    <li class="submenu index">
                        <a title="送男生" target="_blank" href="http://www.kadang.com/tag/76.html?ref_wbt=3.2-2.3.1029.3&amp;ref_refer=%2F" class="item fl" wbury="1">
                            送男生              </a>
                    </li>
                    <li class="submenu index">
                        <a title="生日礼物" target="_blank" href="http://www.kadang.com/zt/birthday.html?ref_wbt=3.2-2.3.1029.4&amp;ref_refer=%2F" class="item fl" wbury="1">
                            生日礼物                  </a>
                    </li>
                    <li class="submenu index">
                        <a title="本周新品" target="_blank" href="http://www.kadang.com/tag/375.html?ref_wbt=3.2-2.3.1029.5&amp;ref_refer=%2F" class="item fl" wbury="1">
                            本周新品              </a>
                    </li>
                    <li class="submenu index">
                        <a title="七夕情人节" target="_blank" href="http://www.kadang.com/zt/qxloveyou.html?ref_wbt=3.2-2.3.1029.6&amp;ref_refer=%2F" class="item fl" wbury="1">
                            七夕情人节              </a>
                    </li>
                    <li class="navHover" style="width: 90.9874px; left: 0px; opacity: 0;"></li>
                </ul>
            </div>
            <!-- 	<div style="float: right;" kdref="1032">
                    <a href="http://love.kadang.com/zt/qixi.html" target="_blank" title="七夕礼物专场"><img src="http://www.kadang.com/static/mall/index/daohang-right.png" alt="七夕礼物专场"/></a>
                </div> -->
        </div>
    </div>
</header>