<footer>
    <div id="footer">
        <div class="container">

            <!-- 卡当服务 start -->
            <div class="lay-service">
                <ul class="clearfix">
                    <li title="私人定制商城">
                        <a target="_blank" href="http://www.kadang.com/index.php?ref_wbt=3.2-2.3.0.241&amp;ref_refer=%2F&amp;act=support&amp;article_id=118" wbury="1">
                            <p class="service-pic pic-s1"></p>
                            <p class="vm-cap">中国领先</p>
                            <p>私人定制商城</p>
                        </a>
                    </li>
                    <li title="独一无二为您定制">
                        <a target="_blank" href="http://www.kadang.com/index.php?ref_wbt=3.2-2.3.0.242&amp;ref_refer=%2F&amp;act=support&amp;article_id=116" wbury="1">
                            <p class="service-pic pic-s2"></p>
                            <p class="vm-cap">100%专属定制</p>
                            <p>独一无二为您定制</p>
                        </a>
                    </li>
                    <li title="正品保证">
                        <a target="_blank" href="http://www.kadang.com/index.php?ref_wbt=3.2-2.3.0.243&amp;ref_refer=%2F&amp;act=support&amp;article_id=117" wbury="1">
                            <p class="service-pic pic-s3"></p>
                            <p class="vm-cap">100%</p>
                            <span>正品保证</span>
                        </a>
                    </li>
                    <li title="退货保障">
                        <a target="_blank" href="http://www.kadang.com/index.php?ref_wbt=3.2-2.3.0.244&amp;ref_refer=%2F&amp;act=support&amp;article_id=113" wbury="1">
                            <p class="service-pic pic-s4"></p>
                            <p class="vm-cap">30天</p>
                            <span>退货保障</span>
                        </a>
                    </li>
                    <li title="80%商品闪电发货">
                        <a target="_blank" href="http://www.kadang.com/index.php?ref_wbt=3.2-2.3.0.245&amp;ref_refer=%2F&amp;act=support&amp;article_id=119" wbury="1">
                            <p class="service-pic pic-s5"></p>
                            <p class="vm-cap">24小时</p>
                            <span>80%商品闪电发货</span>
                        </a>
                    </li>
                    <li title="提供礼品级包装">
                        <p class="service-pic pic-s6"></p>
                        <p class="vm-cap">精美包装</p>
                        <span>提供礼品级包装</span>
                    </li>
                    <li>
                        <p class="service-pic pic-s7"></p>
                        <p class="vm-cap">199万用户</p>
                        <span>口碑信赖</span>
                    </li>
                    <li title="货到付款">
                        <a target="_blank" href="http://www.kadang.com/index.php?ref_wbt=3.2-2.3.0.246&amp;ref_refer=%2F&amp;act=support&amp;article_id=114" wbury="1">
                            <p class="service-pic pic-s8"></p>
                            <p class="vm-cap">1250城市</p>
                            <span>货到付款</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 卡当服务 end -->

            <!-- 底部链接 start -->
            <div class="lay-link">
                <p kdref="1034" class="mod-link">
                    <a href="http://www.kadang.com?ref_wbt=3.2-2.3.1034.0&amp;ref_refer=%2F" wbury="1">首页</a>
                    <a href="http://www.kadang.com/list/0/?ref_wbt=3.2-2.3.1034.1&amp;ref_refer=%2F" target="_blank" wbury="1">商品分类</a>
                    <a href="http://seller.kadang.com/index.php?ref_wbt=3.2-2.3.1034.2&amp;ref_refer=%2F&amp;act=login&amp;op=seller" target="_blank" id="seller_login" wbury="1">商家登录</a>
                    <a href="http://www.kadang.com/index.php?ref_wbt=3.2-2.3.1034.3&amp;ref_refer=%2F&amp;act=market&amp;channel=www&amp;page=job" target="_blank" wbury="1">招聘英才</a>
                    <a href="/index.php?ref_wbt=3.2-2.3.1034.4&amp;ref_refer=%2F&amp;act=support&amp;article_id=23" target="_blank" wbury="1">联系我们</a>
                    <a href="/index.php?ref_wbt=3.2-2.3.1034.5&amp;ref_refer=%2F&amp;act=support&amp;article_id=22" target="_blank" wbury="1">关于我们</a>
                    <a href="/index.php?ref_wbt=3.2-2.3.1034.6&amp;ref_refer=%2F&amp;act=support" target="_blank" wbury="1">买家帮助</a>
                    <a target="_blank" href="http://www.kadang.com/zt/ToMobile.html?ref_wbt=3.2-2.3.1034.7&amp;ref_refer=%2F" wbury="1">手机卡当</a>
                    <a id="toshowlink" href="#ftlinklist">送礼导航</a>
                </p>

                <div class="c_foot" id="ftlinklist">
                    <div class="swhead">
                        送礼导航
                    </div>

                    <div class="swbody">
                        <dl>
                            <dt>
                                人群 ：
                            </dt>
                            <dd>
                                <a href="http://www.kadang.com/kysl/T002-23/?ref_wbt=3.2-2.3.0.255&amp;ref_refer=%2F" wbury="1">送爸爸</a>
                                <a href="http://www.kadang.com/kysl/T003-42/?ref_wbt=3.2-2.3.0.256&amp;ref_refer=%2F" wbury="1">送妈妈</a>
                                <a href="http://www.kadang.com/kysl/T004-3/?ref_wbt=3.2-2.3.0.257&amp;ref_refer=%2F" wbury="1">送长辈</a>
                                <a href="http://www.kadang.com/kysl/T005-5/?ref_wbt=3.2-2.3.0.258&amp;ref_refer=%2F" wbury="1">送领导</a>
                                <a href="http://www.kadang.com/kysl/T006-30/?ref_wbt=3.2-2.3.0.259&amp;ref_refer=%2F" wbury="1">送哥哥</a>
                                <a href="http://www.kadang.com/kysl/T007-66/?ref_wbt=3.2-2.3.0.260&amp;ref_refer=%2F" wbury="1">送姐姐</a>
                                <a href="http://www.kadang.com/kysl/T008-34/?ref_wbt=3.2-2.3.0.261&amp;ref_refer=%2F" wbury="1">送弟弟</a>
                                <a href="http://www.kadang.com/kysl/T009-58/?ref_wbt=3.2-2.3.0.262&amp;ref_refer=%2F" wbury="1">送妹妹</a>
                                <a href="http://www.kadang.com/kysl/T010-88/?ref_wbt=3.2-2.3.0.263&amp;ref_refer=%2F" wbury="1">送男朋友</a>
                                <a href="http://www.kadang.com/kysl/T011-101/?ref_wbt=3.2-2.3.0.264&amp;ref_refer=%2F" wbury="1">送女朋友</a>
                                <a href="http://www.kadang.com/kysl/T012-4/?ref_wbt=3.2-2.3.0.265&amp;ref_refer=%2F" wbury="1">送老公</a>
                                <a href="http://www.kadang.com/kysl/T013-30/?ref_wbt=3.2-2.3.0.266&amp;ref_refer=%2F" wbury="1">送老婆</a>
                                <a href="http://www.kadang.com/kysl/T014-3/?ref_wbt=3.2-2.3.0.267&amp;ref_refer=%2F" wbury="1">送老师</a>
                                <a href="http://www.kadang.com/kysl/T015-46/?ref_wbt=3.2-2.3.0.268&amp;ref_refer=%2F" wbury="1">送同事</a>
                                <a href="http://www.kadang.com/kysl/T016-40/?ref_wbt=3.2-2.3.0.269&amp;ref_refer=%2F" wbury="1">送同学</a>
                                <a href="http://www.kadang.com/kysl/T017-10/?ref_wbt=3.2-2.3.0.270&amp;ref_refer=%2F" wbury="1">送闺蜜</a>
                                <a href="http://www.kadang.com/kysl/T018-218/?ref_wbt=3.2-2.3.0.271&amp;ref_refer=%2F" wbury="1">送朋友</a>
                                <a href="http://www.kadang.com/kysl/T019-5/?ref_wbt=3.2-2.3.0.272&amp;ref_refer=%2F" wbury="1">送老板</a>
                                <a href="http://www.kadang.com/kysl/T020-16/?ref_wbt=3.2-2.3.0.273&amp;ref_refer=%2F" wbury="1">送上司</a>
                                <a href="http://www.kadang.com/kysl/T021-52/?ref_wbt=3.2-2.3.0.274&amp;ref_refer=%2F" wbury="1">送亲戚</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                节日 ：
                            </dt>
                            <dd>
                                <a href="http://www.kadang.com/kysl/T022-14/?ref_wbt=3.2-2.3.0.275&amp;ref_refer=%2F" wbury="1">元旦新年礼物</a>
                                <a href="http://www.kadang.com/kysl/T023-1/?ref_wbt=3.2-2.3.0.276&amp;ref_refer=%2F" wbury="1">母亲节礼物</a>
                                <a href="http://www.kadang.com/kysl/T025-98/?ref_wbt=3.2-2.3.0.277&amp;ref_refer=%2F" wbury="1">开业送礼</a>
                                <a href="http://www.kadang.com/kysl/T026-16/?ref_wbt=3.2-2.3.0.278&amp;ref_refer=%2F" wbury="1">春节礼物</a>
                                <a href="http://www.kadang.com/kysl/T027-3/?ref_wbt=3.2-2.3.0.279&amp;ref_refer=%2F" wbury="1">儿童节礼物</a>
                                <a href="http://www.kadang.com/kysl/T028-1/?ref_wbt=3.2-2.3.0.280&amp;ref_refer=%2F" wbury="1">万圣节礼物</a>
                                <a href="http://www.kadang.com/kysl/T029-4/?ref_wbt=3.2-2.3.0.281&amp;ref_refer=%2F" wbury="1">探病送礼</a>
                                <a href="http://www.kadang.com/kysl/T031-13/?ref_wbt=3.2-2.3.0.282&amp;ref_refer=%2F" wbury="1">父亲节礼物</a>
                                <a href="http://www.kadang.com/kysl/T032-1/?ref_wbt=3.2-2.3.0.283&amp;ref_refer=%2F" wbury="1">光棍节礼物</a>
                                <a href="http://www.kadang.com/kysl/T033-155/?ref_wbt=3.2-2.3.0.284&amp;ref_refer=%2F" wbury="1">结婚礼物</a>
                                <a href="http://www.kadang.com/kysl/T034-79/?ref_wbt=3.2-2.3.0.285&amp;ref_refer=%2F" wbury="1">情人节礼物</a>
                                <a href="http://www.kadang.com/kysl/T036-1/?ref_wbt=3.2-2.3.0.286&amp;ref_refer=%2F" wbury="1">感恩节礼物</a>
                                <a href="http://www.kadang.com/kysl/T037-529/?ref_wbt=3.2-2.3.0.287&amp;ref_refer=%2F" wbury="1">生日礼物</a>
                                <a href="http://www.kadang.com/kysl/T038-13/?ref_wbt=3.2-2.3.0.288&amp;ref_refer=%2F" wbury="1">三八妇女节礼物</a>
                                <a href="http://www.kadang.com/kysl/T039-54/?ref_wbt=3.2-2.3.0.289&amp;ref_refer=%2F" wbury="1">教师节礼物</a>
                                <a href="http://www.kadang.com/kysl/T040-58/?ref_wbt=3.2-2.3.0.290&amp;ref_refer=%2F" wbury="1">圣诞节礼物</a>
                                <a href="http://www.kadang.com/kysl/T041-5/?ref_wbt=3.2-2.3.0.291&amp;ref_refer=%2F" wbury="1">商务送礼</a>
                                <a href="http://www.kadang.com/kysl/T042-3/?ref_wbt=3.2-2.3.0.292&amp;ref_refer=%2F" wbury="1">白色情人节礼物</a>
                                <a href="http://www.kadang.com/kysl/T043-31/?ref_wbt=3.2-2.3.0.293&amp;ref_refer=%2F" wbury="1">纪念日礼物</a>
                                <a href="http://www.kadang.com/kysl/T044-8/?ref_wbt=3.2-2.3.0.294&amp;ref_refer=%2F" wbury="1">毕业送礼</a>
                                <a href="http://www.kadang.com/kysl/T046-173/?ref_wbt=3.2-2.3.0.295&amp;ref_refer=%2F" wbury="1">中秋节礼物</a>
                                <a href="http://www.kadang.com/kysl/T047-1/?ref_wbt=3.2-2.3.0.296&amp;ref_refer=%2F" wbury="1">周年礼物</a>
                                <a href="http://www.kadang.com/kysl/T048-1/?ref_wbt=3.2-2.3.0.297&amp;ref_refer=%2F" wbury="1">开学送礼</a>
                                <a href="http://www.kadang.com/kysl/T049-1/?ref_wbt=3.2-2.3.0.298&amp;ref_refer=%2F" wbury="1">五一劳动节礼物</a>
                                <a href="http://www.kadang.com/kysl/T051-10/?ref_wbt=3.2-2.3.0.299&amp;ref_refer=%2F" wbury="1">情侣礼物</a>
                                <a href="http://www.kadang.com/kysl/T052-1/?ref_wbt=3.2-2.3.0.300&amp;ref_refer=%2F" wbury="1">乔迁送礼</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                星座 ：
                            </dt>
                            <dd>
                                <a href="http://www.kadang.com/kysl/T053-40/?ref_wbt=3.2-2.3.0.301&amp;ref_refer=%2F" wbury="1">白羊座</a>
                                <a href="http://www.kadang.com/kysl/T054-18/?ref_wbt=3.2-2.3.0.302&amp;ref_refer=%2F" wbury="1">双子座</a>
                                <a href="http://www.kadang.com/kysl/T055-16/?ref_wbt=3.2-2.3.0.303&amp;ref_refer=%2F" wbury="1">狮子座</a>
                                <a href="http://www.kadang.com/kysl/T056-21/?ref_wbt=3.2-2.3.0.304&amp;ref_refer=%2F" wbury="1">天秤座</a>
                                <a href="http://www.kadang.com/kysl/T057-26/?ref_wbt=3.2-2.3.0.305&amp;ref_refer=%2F" wbury="1">射手座</a>
                                <a href="http://www.kadang.com/kysl/T058-28/?ref_wbt=3.2-2.3.0.306&amp;ref_refer=%2F" wbury="1">水瓶座</a>
                                <a href="http://www.kadang.com/kysl/T059-17/?ref_wbt=3.2-2.3.0.307&amp;ref_refer=%2F" wbury="1">金牛座</a>
                                <a href="http://www.kadang.com/kysl/T060-28/?ref_wbt=3.2-2.3.0.308&amp;ref_refer=%2F" wbury="1">巨蟹座</a>
                                <a href="http://www.kadang.com/kysl/T061-32/?ref_wbt=3.2-2.3.0.309&amp;ref_refer=%2F" wbury="1">处女座</a>
                                <a href="http://www.kadang.com/kysl/T062-42/?ref_wbt=3.2-2.3.0.310&amp;ref_refer=%2F" wbury="1">天蝎座</a>
                                <a href="http://www.kadang.com/kysl/T063-21/?ref_wbt=3.2-2.3.0.311&amp;ref_refer=%2F" wbury="1">魔羯座</a>
                                <a href="http://www.kadang.com/kysl/T064-5/?ref_wbt=3.2-2.3.0.312&amp;ref_refer=%2F" wbury="1">双鱼座</a>
                            </dd>
                        </dl>
                    </div>

                    <div class="swhead">
                        送礼帮助
                    </div>
                    <div class="swbody">
                        <ul>
                            <li><a href="http://www.kadang.com/kylp/dpjci4c/?ref_wbt=3.2-2.3.0.313&amp;ref_refer=%2F" wbury="1">送给孩子的圣诞礼物</a></li>
                            <li><a href="http://www.kadang.com/kylp/xqwyac/?ref_wbt=3.2-2.3.0.314&amp;ref_refer=%2F" wbury="1">圣诞节，给以色列外贸客户送什么礼物好。</a></li>
                            <li><a href="http://www.kadang.com/kylp/xan5o19/?ref_wbt=3.2-2.3.0.315&amp;ref_refer=%2F" wbury="1">圣诞游乐场滑雪木箱子音乐盒</a></li>
                            <li><a href="http://www.kadang.com/kysl/jcqywd/?ref_wbt=3.2-2.3.0.316&amp;ref_refer=%2F" wbury="1">2012最有创意圣诞礼物</a></li>
                            <li><a href="http://www.kadang.com/kysl/bgzj62c/?ref_wbt=3.2-2.3.0.317&amp;ref_refer=%2F" wbury="1">圣诞节送喜欢的女生什么礼物好</a></li>
                            <li><a href="http://www.kadang.com/kysl/0d0r947/?ref_wbt=3.2-2.3.0.318&amp;ref_refer=%2F" wbury="1">圣诞节送女友什么礼物最好 最有心意？</a></li>
                            <li><a href="http://www.kadang.com/kysl/zhu9b4c/?ref_wbt=3.2-2.3.0.319&amp;ref_refer=%2F" wbury="1">圣诞节送朋友什么礼物有创意？</a></li>
                            <li><a href="http://www.kadang.com/kylp/gpoxe30/?ref_wbt=3.2-2.3.0.320&amp;ref_refer=%2F" wbury="1">圣诞节送女朋友什么礼物好呢？手链，戒指，吊坠都有了</a></li>
                            <li><a href="http://www.kadang.com/kylp/hgp3l1c/?ref_wbt=3.2-2.3.0.321&amp;ref_refer=%2F" wbury="1">圣诞送啥礼物给新交的男朋友啊，２０多岁，是个老师</a></li>
                            <li><a href="http://www.kadang.com/kysl/zatchd/?ref_wbt=3.2-2.3.0.322&amp;ref_refer=%2F" wbury="1">圣诞节送什么礼物给女朋友好!巧克力怎么样</a></li>
                            <li><a href="http://www.kadang.com/kysl/xbtlo2c/?ref_wbt=3.2-2.3.0.323&amp;ref_refer=%2F" wbury="1">圣诞节送男生什么礼物比较好？</a></li>
                            <li><a href="http://www.kadang.com/kysl/wdpg71a/?ref_wbt=3.2-2.3.0.324&amp;ref_refer=%2F" wbury="1">今年圣诞节最流行送什么礼物?</a></li>
                            <li><a href="http://www.kadang.com/kylp/vjyzf49/?ref_wbt=3.2-2.3.0.325&amp;ref_refer=%2F" wbury="1">圣诞节到了。我想送女朋友一件礼物，送什么好呐。</a></li>
                            <li><a href="http://www.kadang.com/kylp/swtq33/?ref_wbt=3.2-2.3.0.326&amp;ref_refer=%2F" wbury="1">圣诞节送男朋友什么礼物好</a></li>
                            <li><a href="http://www.kadang.com/kysl/prmti11/?ref_wbt=3.2-2.3.0.327&amp;ref_refer=%2F" wbury="1">圣诞节给男朋友送什么礼物更特别保存更久呢?</a></li>
                            <li><a href="http://www.kadang.com/kylw/zzmd430/?ref_wbt=3.2-2.3.0.328&amp;ref_refer=%2F" wbury="1">圣诞为我女朋友准备什么礼物好？</a></li>
                            <li><a href="http://www.kadang.com/kylp/giv4z36/?ref_wbt=3.2-2.3.0.329&amp;ref_refer=%2F" wbury="1">圣诞节送什么贴心又温馨的小礼物给女朋友好呢？</a></li>
                            <li><a href="http://www.kadang.com/kysl/rkedu1/?ref_wbt=3.2-2.3.0.330&amp;ref_refer=%2F" wbury="1">请问圣诞节送什么给男朋友比较好?</a></li>
                            <li><a href="http://www.kadang.com/kysl/djp9739/?ref_wbt=3.2-2.3.0.331&amp;ref_refer=%2F" wbury="1">圣诞节朋友都说要邮寄送我礼物，需要一一回礼吗？</a></li>
                            <li><a href="http://www.kadang.com/kylp/hiaom9/?ref_wbt=3.2-2.3.0.332&amp;ref_refer=%2F" wbury="1">圣诞送什么礼物给男性朋友好</a></li>
                        </ul>
                    </div>
                </div>
                <p class="mod-copyright">
                    Copyright &copy; 2006-2014 kadang.com 网上经营许可证号：浙B2-20140235    </p>

            </div>
            <!-- 底部链接 end -->
        </div>
    </div>
</footer>
