<footer class="footer">
    <div class="container">
        <p>版权所有: 2013 杭州西软科技有限公司 | 浙ICP备 05047888 号</p>
        <div style="width:300px;margin:0 auto; padding:20px 0;">
            <a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <img src="" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33011002010686号</p>
            </a>
        </div>
    </div>
</footer>
</body>
</html>
