<link rel="shortcut icon" href="<%=_STATIC%>common/images/favicon.png" type="image/x-icon">
<!--
<link rel="stylesheet" href="<%=_STATIC%>public/bootstrap/3.3.5/css/bootstrap.min.css?ver=<%=_sys.version%>" rel="stylesheet">
-->
<link rel="stylesheet" href="<%=_STATIC%>home/css/base.css?ver=<%=_sys.version%>" rel="stylesheet">
<link rel="stylesheet" href="<%=_STATIC%>home/css/header.css?ver=<%=_sys.version%>" rel="stylesheet">
<link rel="stylesheet" href="<%=_STATIC%>home/css/footer.css?ver=<%=_sys.version%>" rel="stylesheet">
<link rel="stylesheet" href="<%=_STATIC%>home/css/index.css?ver=<%=_sys.version%>" rel="stylesheet">
<link rel="stylesheet" href="<%=_STATIC%>home/css/online.css?ver=<%=_sys.version%>" rel="stylesheet">

<script src="<%=_STATIC%>public/jquery/1.11.3/jquery.min.js?ver=<%=_sys.version%>"></script>
<script src="<%=_STATIC%>public/bootstrap/3.3.5/js/bootstrap.min.js?ver=<%=_sys.version%>"></script>
<script>
</script>

